--find-links https://download.pytorch.org/whl/torch_stable.html
datasets
faiss-cpu
matplotlib
numpy
pandas
pygaggle
pyserini
pytorch-lightning
pytrec_eval
rouge_score
sentencepiece
streamlit
torch==1.9.1+cu111
tqdm
transformers
unidecode
