--find-links https://download.pytorch.org/whl/torch_stable.html
datasets==1.6.2
jsonargparse[signatures]
matplotlib
nltk
numpy
pandas
pytorch-lightning==1.2.10
rouge_score
sentencepiece==0.1.95
streamlit==0.81.1
torch==1.8.1+cu111
tqdm
transformers==4.5.1
